@page "/tokens/details/{pocketID:int}"
@attribute [Authorize]

@inject IWalletsService _walletsService

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="wallets">Wallets</a></li>
        <li class="breadcrumb-item"><a href="wallets/details/@Pocket.WalletID">@Pocket.WalletName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Pocket.CurrencyName</li>
    </ol>
</nav>

<h1>
    Token Details
    @if (IsLoading)
    {
        <i class="fas fa-circle-notch fa-spin"></i>
    }
</h1>
<div class="container-body shadow-sm mb-5">
    <div class="row">
        <div class="col-8">
            <dl class="row mb-0">
                <dt class="col-sm-4">Currency</dt>
                <dd class="col-sm-8">@Pocket.CurrencyName (@Pocket.CurrencySymbol)</dd>
                <dt class="col-sm-4">Address</dt>
                <dd class="col-sm-8">@Pocket.Address</dd>
                <dt class="col-sm-4">Blockchain</dt>
                <dd class="col-sm-8">@Pocket.WalletBlockchainName</dd>
                <dt class="col-sm-4">Balance</dt>
                <dd class="col-sm-8">@Pocket.BalanceDisplayText</dd>
                <dt class="col-sm-4">Transactions Count</dt>
                <dd class="col-sm-8">@Pocket.Transactions.Count</dd>
            </dl>
        </div>
    </div>
</div>

<WalletTransactions Pocket="Pocket" OnAfterSuccessful="UpdateStateHasChanged" />