@page "/myprofile/edit"
@attribute [Authorize]

@inject IAuthenticationService _authenticationService
@inject NavigationManager _navigationManager
@inject HttpClient _httpClient
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle Title="Edit Profile" />

<h1>Edit Profile</h1>

<EditForm Model="Input" OnValidSubmit="EditMyProfileAsync" id="form-field">
    <DataAnnotationsValidator />

    <div class="form-row">
        <div class="form-group col-6">
            <label>Username</label>
            <InputText @bind-Value="Input.MemberUsername" class="form-control" disabled/>
            <ValidationMessage For="@(() => Input.MemberUsername)" />
        </div>
        <div class="form-group col-3">
            <label>Gender</label>
            <InputSelect @bind-Value="SelectedGender" class="form-control chosen-select">
                @foreach (var gender in Genders)
                {
                    <option value="@gender.GenderID.ToString()">@gender.Name</option>
                }
            </InputSelect>
        </div>
        <div class="form-group col-3">
            <label>Birth Date</label>
            <InputDate @bind-Value="Input.BirthDate" class="form-control" />
            <ValidationMessage For="@(() => Input.BirthDate)" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label>First Name</label>
            <InputText @bind-Value="Input.FirstName" class="form-control" placeholder="First Name" />
            <ValidationMessage For="@(() => Input.FirstName)" />
        </div>
        <div class="form-group col-6">
            <label>Last Name</label>
            <InputText @bind-Value="Input.LastName" class="form-control" placeholder="Last Name" />
            <ValidationMessage For="@(() => Input.LastName)" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="select-countries">Country</label>
            <div>
                <InputSelect @bind-Value="SelectedCountryCode" class="form-control chosen-select" id="select-countries">
                    @foreach (var countries in Countries)
                    {
                        <option value="@countries.CountryCode">@countries.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Input.CountryCode)" />
            </div>
        </div>
        <div class="form-group col-6">
            <label for="select-regions">Region</label>
            <div>
                <InputSelect @bind-Value="SelectedRegion" class="form-control chosen-select" id="select-regions">
                    @foreach (var regions in Regions)
                    {
                        <option value="@regions.RegionID.ToString()">@regions.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Input.RegionID)" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="MyProfile" class="btn btn-secondary">Cancel</a>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</EditForm>