@page "/projects"
@attribute [Authorize]

@inject IProjectsServices _projectsServices
@inject IDevService _devService
@inject NavigationManager _navigationManager
@inject GlobalState globalState

@implements IDisposable

@using Fortifex4.Domain.Enums

<PageTitle Title="Exchanges" />

@if (!IsAdministrator)
{
    if (MyProjects.Projects.Count > 0)
    {
        <h2 class="mb-3">My Project</h2>
        <div class="container-body shadow p-3 mb-5 bg-white rounded">
            <table id="data-table-my-project" class="table table-hover">
                <thead>
                    <tr>
                        <th class="trans">Name</th>
                        <th class="trans">Blockchain</th>
                        <th class="trans text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in MyProjects.Projects)
                    {
                        <tr>
                            <td class="trans">@project.Name</td>
                            <td class="trans">@project.BlockchainName</td>
                            <td class="trans text-center">
                                <a href="#" class="details-project-id btn-sm btn-primary" title="Details" data-id="@project.ProjectID">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <h2>Invitations</h2>
    <div class="container-body shadow p-3 mb-5 bg-white rounded">
        <div class="table-responsive">
            @if (ContributorsResult.Contributors.Count == 0)
            {
                <div class="alert alert-warning" role="alert">
                    You don't have any Project invitations
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    You have been invited to these Projects
                </div>
                <table id="data-table-project-invitation" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="trans text-center">No</th>
                            <th class="trans">Project Name</th>
                            <th class="trans">Blockchain</th>
                            <th class="trans text-center">Status</th>
                            <th class="trans text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int indexProjectInvitation = 1; }

                        @foreach (var contributor in ContributorsResult.Contributors)
                        {
                            <tr>
                                <td class="trans text-center">@indexProjectInvitation</td>
                                <td class="trans">@contributor.ProjectName</td>
                                <td class="trans">@contributor.ProjectBlockchainName</td>
                                <td class="trans text-center">
                                    @if (contributor.InvitationStatus == InvitationStatus.Invited)
                                    {
                                        <div class="alert-warning">@contributor.InvitationStatusDisplayText</div>
                                    }
                                    else if (contributor.InvitationStatus == InvitationStatus.Accepted)
                                    {
                                        <div class="alert-success">@contributor.InvitationStatusDisplayText</div>
                                    }
                                    else if (contributor.InvitationStatus == InvitationStatus.Rejected)
                                    {
                                        <div class="alert-danger">@contributor.InvitationStatusDisplayText</div>
                                    }
                                </td>
                                @if (contributor.InvitationStatus == InvitationStatus.Invited)
                                {
                                    <td class="trans text-center">
                                        <a href="#" class="accept-project-id btn-sm btn-primary" title="Accept" data-id="@contributor.ContributorID">Accept</a>
                                        <a href="#" class="reject-project-id btn-sm btn-danger" title="Reject" data-id="@contributor.ContributorID">Reject</a>
                                    </td>
                                }
                                else if (contributor.InvitationStatus == InvitationStatus.Accepted)
                                {
                                    <td class="trans text-center">
                                        <a href="#" class="details-project-id btn-sm btn-primary" title="Details" data-id="@contributor.ProjectID">Details</a>
                                    </td>
                                }
                                else if (contributor.InvitationStatus == InvitationStatus.Rejected)
                                {
                                    <td class="trans text-center">
                                    </td>
                                }
                            </tr>

                            indexProjectInvitation++;
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}
else
{
    <h2 class="mb-3">Project Approvals</h2>
    <div class="container-body shadow p-3 mb-5 bg-white rounded">
        @if (ProjectsConfirmation.Projects.Count == 0)
        {
            <div class="alert alert-warning" role="alert">
                Currently there are no projects that require your approval
            </div>
        }
        else
        {
            <table id="data-table-my-project" class="table table-hover">
                <thead>
                    <tr>
                        <th class="trans">Name</th>
                        <th class="trans">Blockchain</th>
                        <th class="trans text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in ProjectsConfirmation.Projects)
                    {
                        <tr>
                            <td class="trans">@project.Name</td>
                            <td class="trans">@project.BlockchainName</td>
                            <td class="trans text-center">
                                <a href="/projects/details/@project.ProjectID" class="details-project-id btn-sm btn-primary" title="Details">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}