@page "/wallets/details/{walletID:int}"
@attribute [Authorize]

@inject IWalletsService _walletsService
@inject NavigationManager _navigationManager

@inject GlobalState globalState

@implements IDisposable

@using Fortifex4.Domain.Enums
@using Fortifex4.Domain.Entities

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @if (Wallet.ProviderType == ProviderType.Personal)
        {
            <li class="breadcrumb-item"><a href="wallets">Wallets</a></li>
        }
        else
        {
            <li class="breadcrumb-item"><a href="exchanges">Exchanges</a></li>
            <li class="breadcrumb-item"><a href="exchanges/details/@Wallet.OwnerID">@Wallet.OwnerProviderName</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">@Wallet.Name</li>
    </ol>
</nav>

<h1>
    Wallets Details
    @if (IsLoading)
    {
        <i class="fas fa-circle-notch fa-spin"></i>
    }
</h1>
<div class="container-body shadow-sm mb-5">
    <div class="row">
        <div class="col-8">
            <dl class="row mb-0">
                @if (Wallet.ProviderType == ProviderType.Personal)
                {
                    <dt class="col-sm-4">Name</dt>
                    <dd class="col-sm-8">@Wallet.Name</dd>
                    <dt class="col-sm-4">Address</dt>
                    <dd class="col-sm-8">@Wallet.Address</dd>
                    <dt class="col-sm-4">Blockchain</dt>
                    <dd class="col-sm-8">@Wallet.BlockchainName</dd>
                }
                else
                {
                    <dt class="col-sm-4">Exchange</dt>
                    <dd class="col-sm-8">@Wallet.OwnerProviderName</dd>
                }
                <dt class="col-sm-4">Currency</dt>
                <dd class="col-sm-8">@Wallet.MainPocket.CurrencyName (@Wallet.MainPocket.CurrencySymbol)</dd>
                <dt class="col-sm-4">Balance</dt>
                <dd class="col-sm-8">@Wallet.MainPocket.Balance.ToString4Decimals()</dd>
                <dt class="col-sm-4">Transactions Count</dt>
                <dd class="col-sm-8">@Wallet.MainPocket.Transactions.Count</dd>
                @if (Wallet.TokenPockets.Count > 0)
                {
                    <dt class="col-sm-4">Tokens Count</dt>
                    <dd class="col-sm-8">@Wallet.TokenPockets.Count</dd>
                }
            </dl>
            @if (!string.IsNullOrEmpty(SyncMessage))
            {
                <div class="alert alert-warning">
                    @SyncMessage
                </div>
            }
        </div>
        <div class="col-4 text-right">
            <div class="mb-1">
                <button class="btn btn-danger" @onclick="() => ModalDeletePersonalWallet.BaseModal.Open()">Delete</button>
            </div>
            @if (Wallet.ProviderType == ProviderType.Personal)
            {
                <div class="mb-1">
                    <button class="btn btn-primary" @onclick="() => ModalEditPersonalWallet.BaseModal.Open()">Edit</button>
                </div>

                if (CurrencySymbol.IsSynchronizable(Wallet.MainPocket.CurrencySymbol))
                {
                    <div class="mb-1">
                        <button class="btn btn-primary" @onclick="SyncWallet">Sync</button>
                    </div>
                }
            }
            else
            {
                @if (Wallet.MainPocket.CurrencyType == CurrencyType.Fiat)
                {
                    <div class="mb-1">
                        <button class="btn btn-primary">Add Deposit</button>
                    </div>
                    <div class="mb-1">
                        <button class="btn btn-primary">Add Withdrawal</button>
                    </div>
                }
            }

            @if (Wallet.MainPocket.CurrencyType != CurrencyType.Fiat && !Wallet.IsSynchronized)
            {
                <div class="mb-1">
                    <button class="btn btn-primary" @onclick="() => ModalCreateExternalTransfer.BaseModal.Open()">Add External Transfer</button>
                </div>
                <div class="mb-1">
                    <button class="btn btn-primary" @onclick="() => ModalCreateInternalTransfer.BaseModal.Open()">Add Internal Transfer</button>
                </div>
            }
        </div>
    </div>
</div>

<WalletTransactions Wallet="Wallet" OnAfterSuccessful="UpdateStateHasChanged" />

@if (Wallet.TokenPockets.Count > 0)
{
    <h2>Tokens</h2>
    <div class="container-body shadow-sm">
        <table class="table table-hover data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Token Name</th>
                    <th>Symbol</th>
                    <th class="text-right">Balance</th>
                    <th class="text-center px-3">Action</th>
                </tr>
            </thead>
            <tbody>
                @{int indexPocket = 1;}
                @foreach (var pocket in Wallet.TokenPockets.OrderBy(x => x.CurrencyName))
                {
                    <tr>
                        <td>@indexPocket</td>
                        <td>@pocket.CurrencyName</td>
                        <td>@pocket.CurrencySymbol</td>
                        <td class="text-right">@pocket.Balance.ToString4Decimals()</td>
                        <td class="text-center">
                            <a href="/tokens/details/@pocket.PocketID" class="btn btn-primary btn-sm">Details</a>
                        </td>
                    </tr>

                    indexPocket++;
                }
            </tbody>
        </table>
    </div>
}

<ModalEditPersonalWallet @ref="ModalEditPersonalWallet" WalletID="@WalletID" OnAfterSuccessful="UpdateStateHasChanged" />
<ModalDeletePersonalWallet @ref="ModalDeletePersonalWallet" Wallet="@Wallet" />

<ModalCreateInternalTransfer @ref="ModalCreateInternalTransfer" WalletID="@WalletID" OnAfterSuccessful="UpdateStateHasChanged" />
<ModalCreateExternalTransfer @ref="ModalCreateExternalTransfer" WalletID="@WalletID" OnAfterSuccessful="UpdateStateHasChanged" />