@page "/wallets"
@attribute [Authorize]

@inject IWalletsService _walletsService
@inject IBlockchainsService _blockchainsService
@inject NavigationManager _navigationManager

@inject GlobalState globalState

@implements IDisposable

<PageTitle Title="Wallets" />

<h1>
    Wallets
    @if (IsLoading)
    {
        <i class="fas fa-circle-notch fa-spin"></i>
    }
</h1>

@if (!string.IsNullOrEmpty(MetaMaskMessage))
{
    <div class="text-left mb-2">
        <div class="alert alert-warning">
            @MetaMaskMessage.ToRawHtml()
        </div>
    </div>
}

<div class="text-right mb-3">
    <button type="button" class="btn btn-success" @onclick="() => ConnectToMetaMasukAsync()">Connect To Active MetaMask Account</button>
    <button class="btn btn-primary" @onclick="() => ModalCreatePersonalWallet.BaseModal.Open()">New Wallet</button>
</div>
<div class="container-body shadow-sm">
    <table class="table table-custom">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Blockchain</th>
                <th>Synchronized</th>
                <th class="text-right">Balance</th>
                <th class="text-right">Balance (@GetPersonalWalletsResponse.MemberPreferredFiatCurrencySymbol)</th>
                <th class="text-right">Balance (@GetPersonalWalletsResponse.MemberPreferredCoinCurrencySymbol)</th>
                <th class="text-center">Details</th>
            </tr>
        </thead>
        @if (GetPersonalWalletsResponse.PersonalWallets.Count > 0)
        {
            <tbody>
                @{
                    int index = 1;

                    foreach (var wallet in GetPersonalWalletsResponse.PersonalWallets)
                    {
                        <tr>
                            <td>@index</td>
                            <td>@wallet.Name</td>
                            <td>@wallet.BlockchainName</td>
                            <td>@wallet.IsSynchronizedDisplayText</td>
                            <td class="text-right">@wallet.MainPocketBalanceDisplayText</td>
                            <td class="text-right">@wallet.MainPocketBalanceInPreferredFiatCurrencyDisplayText</td>
                            <td class="text-right">@wallet.MainPocketBalanceInPreferredCoinCurrencyDisplayText</td>
                            <td class="text-center">
                                <a href="/wallets/details/@wallet.WalletID" class="btn btn-primary btn-sm">Details</a>
                            </td>
                        </tr>

                        index++;
                    }
                }
            </tbody>
        }
        else if (IsLoading)
        {
            <caption><div class="text-center"><i class="fas fa-circle-notch fa-spin"></i></div></caption>
        }
        else
        {
            <caption><div class="alert alert-info text-center">No data available in table</div></caption>
        }
    </table>
</div>

<ModalCreatePersonalWallet @ref="ModalCreatePersonalWallet" OnAfterSuccessful="UpdateStateHasChanged" />