@page "/piecharts"
@attribute [Authorize]

@inject IPortfolioService _portfolioService
@inject IChartsService _chartsService
@inject ICurrenciesService _currenciesService
@inject GlobalState globalState

@implements IDisposable

<PageTitle Title="Pie Charts" />

<h1 class="mb-3">
    Pie Charts
    @if (IsLoading)
    {
        <i class="fas fa-circle-notch fa-spin"></i>
    }
</h1>

<div class="d-inline-flex mb-3">
    <p class="m-0">Chart Type: &nbsp;</p>

    @if (DropdownOptions != null)
    {
        <select @bind="SelectDropdownOptions" class="form-control-sm select-filtering">
            @if (DropdownOptions.Count > 0)
            {
                @foreach (var pieChartOptions in DropdownOptions)
                {
                    <option value="@pieChartOptions.Value">@pieChartOptions.Text</option>
                }
            }
        </select>
    }

    @if (CryptoCurrency != null)
    {
        <p> &nbsp;</p>
        <select @bind="SelectCryptoCurrency" class="form-control-sm select-filtering">
            @if (CryptoCurrency.Count > 0)
            {
                @foreach (var cryptoCurrency in CryptoCurrency)
                {
                    <option value="@cryptoCurrency.CurrencyID">@cryptoCurrency.Name</option>
                }
            }
        </select>
    }
</div>

<div class="row">
    <div class="col-md-6">
        <div class="container-body shadow-sm text-center">
            <div class="container-chart">
                <canvas id="myChart" width="500" height="500"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-body shadow-sm">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Current Status</h3>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6 text-center border-right">
                    <h4 id="total-value-infoX">@Portfolio.TotalCurrentValueInPreferredFiatCurrency.ToString2Decimals()</h4>
                    <p>Value (@Portfolio.MemberPreferredFiatCurrencySymbol)</p>
                </div>
                <div class="col-md-6 text-center">
                    <h4 id="total-value-crypto-idX">@Portfolio.TotalCurrentValueInPreferredCoinCurrency.ToString2Decimals()</h4>
                    <p>Value (@Portfolio.MemberPreferredCoinCurrencySymbol)</p>
                </div>
            </div>
        </div>
    </div>
</div>